{% extends 'base.html' %}
{% comment %} {% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static '' %}">
{% endblock %} {% endcomment %}

{% block content %}
    Hello {{ user.email }},
      <blockquote>
        <p>You are receiving this mail because you a request to reset the password for your account for this email address from Micro-focus Inc.</p>

        <p>Click the link below to reset password.</p>
        <p><a href="http://{{ domain }}/account/reset/{{ uid }}/{{ token }}">http://{{ domain }}/account/reset/{{ uid }}/{{ token }}</a></p>

        <p>This link can only be used once. If you need to reset your password again; </p>
        <span>Please visit <a href="{{ protocol }}://{{ domain }}/account/password_reset">link</a></span>

        <p>If you did not make this request, simply ignore this email sent.</p>
      </blockquote>
        <p>Sincerely,</p>
        <p>Micro-focus Inc. Team</p>
{% endblock %}
<!-- check here again... -->